.books {
  &__title-1 {
    font-size: 64px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.125;
    letter-spacing: normal;
    color: #fff;
    padding-left: 50px;
    margin: 0 0 16px;
  }
  &__title-2 {
    font-family: Helvetica Neue LT W05_65 Medium;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
  }
  &__title-3 {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.2px;
    color: #fff;
    max-width: 100%;
    margin: 0 0 7px;
  }
  &__text-1 {
    font-family: Helvetica Neue LT W05_45 Light;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    color: #fff;
    margin: 0;
    max-width: 460px;
    padding-left: 50px;
  }
  &__text-2 {
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: hsla(0, 0%, 100%, 0.9);
  }
  &__text-3 {
    background: #003366;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
  }
}
